pytest==7.4.0 # Фреймворк для написания и запуска тестов в Python
requests==2.31.0 # Библиотека для выполнения HTTP‑запросов в Python
python-dotenv==1.0.0 # Библиотека для загрузки переменных окружения из файла .env
